/* font imports */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /* colors */
  --white: #ffffff;
  --black: #333333;
  --535050: #535050;
  --F1B04C: #f1b04c;
  --F0F0F0: #f0f0f0;
  --primary: #4aa3ff;
  --st-patricks-blue: #1f2470;
  --amaranth-purple: hsl(335, 88%, 38%);
  --royal-blue-dark: #111c5a;
  --chrome-yellow: hsl(39, 100%, 52%);
  --space-cadet-1: #262e5a;
  --space-cadet-2: hsl(230, 59%, 16%);
  --winter-sky_50: hsla(335, 87%, 53%, 0.5);
  --purple-navy: hsl(236, 26%, 43%);
  --ksu-purple: #5c2782;
  --winter-sky: hsl(335, 87%, 53%);
  --razzmatazz: hsl(335, 87%, 51%);
  --platinum: hsl(0, 0%, 90%);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --rajah: hsl(29, 99%, 67%);

  --gradient-1: linear-gradient(
    90deg,
    var(--royal-blue-dark) 0,
    var(--ksu-purple) 51%,
    var(--royal-blue-dark)
  );
  --gradient-2: linear-gradient(90deg, var(--razzmatazz), var(--rajah));

  --gradient-3: linear-gradient(62deg, #fff 50%, #f5f0f0 100%);

  /* typography */
  --PT: "PT Sans", sans-serif;
  --PO: "Poppins", sans-serif;

  --fs-1: 4.2em;
  --fs-2: 3.8em;
  --fs-3: 3.2em;
  --fs-4: 2.5em;
  --fs-5: 2.4em;
  --fs-6: 2em;
  --fs-7: 1.8em;
  --fs-8: 1.5em;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* border radius */
  --radius-4: 4px;
  --radius-12: 12px;

  /* spacing */
  --section-padding: 60px;

  /* transition */
  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /* shadow */
  --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.2);
}

html,
body {
  scroll-behavior: smooth;
}

/* common colors */
body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--PO);
  margin: 0;
  overflow-x: hidden;
}

.loader {
  position: relative;
  background-image: url("../../loader-new.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9.2em;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: var(--white);
  margin: 0 auto;
}

:focus,
:active {
  border: none;
  outline: none !important;
  outline-color: var(--white);
}
*,
*:focus,
*:visited,
*::before,
*::after,
input:focus,
textarea:focus,
.focus,
form-control:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  outline-color: var(--white);
  -webkit-tap-highlight-color: transparent;
}

*:active,
*:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  width: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

button,
input {
  border: none;
  font: inherit;
}

ul,
li,
div,
a:visited,
a:active,
a:focus {
  border: none;
  outline: none !important;
  text-decoration: none;
  box-shadow: none;
  outline-style: none;
  outline-color: var(--white);
  -moz-outline-style: none;
}

a:active,
a:focus,
li:focus,
li:active {
  border: none;
  outline: none !important;
  outline-color: var(--white);
  border: none;
  text-decoration: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  object-fit: cover;
  height: auto;
}

address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--space-cadet-1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--primary);
}

::selection {
  color: var(--white);
  background: var(--primary);
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  border: none;
  outline: none;
  outline-color: var(--white);
  text-decoration: none;
}

::-moz-focus-inner {
  border: 0;
}

select,
select:focus,
button:focus,
textarea:focus,
input:focus {
  border: none;
  outline: none;
  outline-color: var(--white);
}

li {
  list-style-type: none;
  list-style: none;
}

[type="submit"],
button,
html [type="button"] {
  appearance: none;
  -webkit-appearance: none;
}

input [type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--white) !important;
}

table {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

input:not(:placeholder-shown) {
  font-weight: bold;
}

textarea:not(:placeholder-shown) {
  font-weight: bold;
}

input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="reset"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-style: none;
  border: none;
  outline: none;
}

a,
img,
span,
input,
button {
  display: block;
}

section {
  overflow: hidden;
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  transition: var(--transition-2);
  border-radius: 0.1em 2em;
  border: none;
  padding: 0;
}

.btn a {
  color: var(--white);
  text-decoration: none;
  padding: 12px 35px;
}

.btn:is(:hover, :focus) {
  background-position: right;
  border-radius: 1em 0.1em 1em 1em;
  box-shadow: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* project container */

.keeth-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1921px) {
  .keeth-container {
    font-size: 16px;
    max-width: 1631px;
  }
}

@media (min-width: 2560px) {
  .keeth-container {
    font-size: 18px;
    max-width: 2174.7px;
  }
}

@media (max-width: 1920px) {
  .keeth-container {
    font-size: 16px;
    max-width: 1631px;
  }
}
@media (max-width: 1840px) {
  .keeth-container {
    font-size: 15px;
    max-width: 1550px;
  }
}

@media (max-width: 1719px) {
  .keeth-container {
    font-size: 14.5px;
    max-width: 1304.8px;
  }
}

@media (max-width: 1536px) {
  .keeth-container {
    font-size: 13px;
  }
}

@media (max-width: 1440px) {
  .keeth-container {
    font-size: 11.5px;
    max-width: 1223.25px;
  }
}

@media (max-width: 1366px) {
  .keeth-container {
    font-size: 10.5px;
    max-width: 1160.38px;
  }
}

@media (max-width: 1280px) {
  .keeth-container {
    font-size: 10px;
    max-width: 1087.33px;
  }
}

@media (max-width: 1194px) {
  .keeth-container {
    max-width: 1014.27px;
  }
}

@media (max-width: 992px) {
  .keeth-container {
    font-size: 11.5px;
    max-width: 808.46px;
  }

  .btn {
    font-size: var(--fs-7);
  }
}

@media (max-width: 767px) {
  .keeth-container {
    font-size: 10px;
    max-width: 708.46px;
  }
}

@media (max-width: 340px) {
  .btn {
    font-size: var(--fs-8);
  }
}
