/* HEADER */
/* HEADER */
/* HEADER */

.kh-header-container {
  position: relative;
}

.kh-header_wrapper {
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 1.5em 0;
  z-index: 10;
}

.kh-header_wrapper .kh-logo {
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
}

.kh-header_wrapper .kh-navbar-list {
  width: 100%;
  display: flex;
  padding: 0 0 2.5em 2.5em;
}

.kh-header_wrapper .kh-navbar-list .kh-navbar-item {
  color: var(--white);
  padding: 0 1em;
  font-size: 1.5em;
  font-family: var(--PT);
  font-weight: 600;
  cursor: pointer;
}

.kh-header_wrapper .kh-icon-title {
  display: none;
}

/* SECTION 01 */
/* SECTION 01 */
/* SECTION 01 */

.kh-sec1 {
  position: relative;
  /* height: 100vh;
  max-height: 100vh; */
  /* aspect-ratio: auto; */
  aspect-ratio: 16/9;
  overflow: hidden;
  cursor: pointer;
}

.kh-sec1 .kh-container {
  height: 100%;
  max-width: 100%;
  padding: 0;
}

.kh-sec1 .kh-video-background {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  /* width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}

.kh-sec1 .kh-video-foreground,
.kh-sec1 .kh-video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.kh-sec1 .kh-video-background video {
  background-image: url(/resources/images/video-fallback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kh-sec1 .kh-video-overlay {
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.kh-sec1 .kh-text-container {
  /* visibility: hidden; */
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 2.5em 2.5em 0;
  transition: all 1s;
}
.kh-sec1 .kh-text-container .kh-img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kh-sec1 .kh-text-container .kh-img_wrapper.hide {
  display: none;
}

.kh-sec1 .kh-text-container .kh-img_wrapper .kh-speaker {
  width: 100%;
  height: 100%;
  max-width: 3em;
}

.kh-sec1 .kh-text-container.active {
  visibility: visible;
  transition: all 1s;
}

.kh-sec1 .kh-text-container .kh-banner-heading {
  font-size: 3.813em;
  font-weight: 800;
  color: var(--white);
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto 0.25em;
}

.kh-sec1 .kh-text-container .kh-banner-subtitle {
  font-size: 1.375em;
  color: var(--F1B04C);
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
}

/* SECTION 02 */
/* SECTION 02 */
/* SECTION 02 */

.kh-sec2 {
  position: relative;
}

.kh-sec2 .kh-banner-img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.kh-sec2 .kh-sec2-content {
  padding: 5em 0;
}

.kh-sec2 .kh-sec2-content .kh-about-row {
  align-items: center;
}

.kh-sec2 .kh-sec2-content .kh-section-title {
  margin: 0 0 1em;
}

.kh-sec2 .kh-sec2-content .kh-section-description {
  margin: 0 0 1em;
  max-width: 95%;
}

.kh-sec2 .kh-sec2-content .about-img-wrapper {
  overflow: hidden;
}

.kh-sec2 .kh-sec2-content .about-img-wrapper .about-us {
  width: 100%;
  max-width: 100%;
  max-height: 40em;
  border-radius: 5px;
}

/* SECTION 03 */
/* SECTION 03 */
/* SECTION 03 */

.kh-sec3 {
  background: var(--white);
}

.kh-sec3 .kh-sec3-content {
  padding: 5em 0 2.5em;
}

.kh-sec3 .kh-sec3-content .kh-text-container {
  text-align: center;
  padding: 0 0 2.5em;
}

.kh-sec3 .kh-sec3-content .kh-text-container .kh-section-title {
  margin: 0;
  padding: 0;
}

.kh-sec3 .kh-sec3-content .kh-text-container .kh-booking-link {
  color: var(--F1B04C);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2em;
  text-decoration: none;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.kh-sec3 .kh-sec3-content .kh-text-container .kh-section-description {
  margin: 1.5em auto 0;
  max-width: 95%;
}

.kh-sec3 .kh-sec3-content .kh-house-cards-wrapper {
  display: flex;
}

.kh-sec3 .kh-sec3-content .kh-house-cards-wrapper article {
  height: 100%;
}

.kh-sec3 .kh-sec3-content .kh-house-cards-wrapper .kh-house-card {
  position: relative;
  height: 100%;
  box-shadow: var(--cardShadow);
  margin: 0 0.75em;
  padding: 0;
  text-align: left;
  border-radius: 1.5em;
  overflow: hidden;
  transition: all 0.3s;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-house-info {
  height: 12em;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-house-info {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  max-height: fit-content;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-card-text
  .kh-card-description {
  visibility: visible;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-card-text {
  justify-content: center;
}
.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-cta-wrapper
  .kh-card-cta {
  opacity: 1;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-img-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-decoration: none;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-img-wrapper
  .kh-house-img {
  width: 100%;
  max-width: 100%;
  /* max-height: 20em; */
  object-position: center;
  transition: 0.3s;
}

.kh-sec3 .kh-sec3-content .kh-house-cards-wrapper .kh-house-card:hover {
  box-shadow: var(--cardHoverShadow);
  transform: scale(1.02);
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-img-wrapper
  .kh-house-img {
  transform: scale(1.1);
}

.kh-sec3 .kh-sec3-content .kh-house-cards-wrapper .kh-house-card .kh-card-text {
  padding: 2em 1.5em 4em;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white);
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-card-text
  .kh-card-title {
  font-size: 1.75em;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-card-text
  .kh-card-description {
  visibility: hidden;
  font-size: 1.25em;
  letter-spacing: 0.24px;
  line-height: 1.8em;
  margin: 0;
  padding: 1em 0 1.5em;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-cta-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em 2em;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-cta-wrapper
  .kh-card-cta {
  background: var(--white);
  color: var(--black);
  font-size: 1.25em;
  letter-spacing: 0.24px;
  line-height: 1.8em;
  font-weight: 700;
  margin: 0;
  padding: 0.5em 1.5em;
  border-radius: 5em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  opacity: 0.75;
}

.kh-sec3
  .kh-sec3-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-cta-wrapper
  .kh-card-cta:hover {
  background: var(--F1B04C);
  color: var(--white);
}

/* PHASE 01 GALLERY */
/* PHASE 01 GALLERY */
/* PHASE 01 GALLERY */

.kh-phase-1-gallery {
  position: relative;
  height: 0;
  transition: all 0.15s ease-out;
  overflow: hidden;
  background: var(--F0F0F0);
}

.kh-phase-1-gallery .kh-close-icon {
  width: 100%;
  max-width: 2em;
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

.kh-phase-1-gallery .kh-container {
  max-width: 100%;
  padding: 0;
}

.kh-phase-1-gallery.active {
  height: auto;
  transition: all 0.25s ease-in;
  margin: 2.5em 0;
}

.kh-phase-1-gallery .kh-gallery-content {
  padding: 5em 0;
}

.kh-phase-1-gallery .kh-text-container .kh-section-title {
  color: var(--F1B04C);
  text-align: center;
  margin: 0 0 1em;
}

.kh-phase-1-gallery .kh-gallery-content .kh-gallery-grid {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  column-gap: 0.5em;
}

.kh-phase-1-gallery .kh-gallery-content .kh-gallery-grid .kh-gallery-img {
  background: url(/loader-new.svg) no-repeat center;
  background-size: 10em;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* aspect-ratio: 16/9; */
  /* aspect-ratio: 4/3; */
  padding: 0 0 0.5em;
}

/* SECTION 04 */
/* SECTION 04 */
/* SECTION 04 */

.kh-sec4 {
  background: var(--white);
}

.kh-sec4 .kh-sec4-content {
  padding: 2.5em 0 5em;
}

.kh-sec4 .kh-sec4-content .kh-text-container {
  text-align: center;
  padding: 0 0 2.5em;
}

.kh-sec4 .kh-sec4-content .kh-text-container .kh-section-title {
  margin: 0;
  padding: 0;
}

.kh-sec4 .kh-sec4-content .kh-text-container .kh-booking-link {
  color: var(--F1B04C);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2em;
  text-decoration: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.kh-sec4 .kh-sec4-content .kh-text-container .kh-section-description {
  margin: 1.5em auto 0;
  max-width: 95%;
}

.kh-sec4 .kh-sec4-content .kh-house-cards-wrapper {
  display: flex;
}

.kh-sec4 .kh-sec4-content .kh-house-cards-wrapper article {
  height: 100%;
}

.kh-sec4 .kh-sec4-content .kh-house-cards-wrapper .kh-house-card {
  position: relative;
  height: 100%;
  box-shadow: var(--cardShadow);
  margin: 0 0.75em;
  padding: 0;
  text-align: left;
  border-radius: 1.5em;
  overflow: hidden;
  transition: all 0.3s;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-house-info {
  height: 11.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-house-info {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  max-height: fit-content;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-card-text
  .kh-card-description {
  visibility: visible;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-card-text {
  justify-content: center;
}
.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-cta-wrapper
  .kh-card-cta {
  opacity: 1;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-img-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-decoration: none;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-img-wrapper
  .kh-house-img {
  width: 100%;
  max-width: 100%;
  object-position: center;
  transition: 0.3s;
}

.kh-sec4 .kh-sec4-content .kh-house-cards-wrapper .kh-house-card:hover {
  box-shadow: var(--cardHoverShadow);
  transform: scale(1.02);
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card:hover
  .kh-img-wrapper
  .kh-house-img {
  transform: scale(1.1);
}

.kh-sec4 .kh-sec4-content .kh-house-cards-wrapper .kh-house-card .kh-card-text {
  padding: 2em 1.5em 4em;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white);
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-card-text
  .kh-card-title {
  font-size: 1.75em;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-card-text
  .kh-card-description {
  visibility: hidden;
  font-size: 1.125em;
  letter-spacing: 0.24px;
  line-height: 1.8em;
  margin: 0;
  padding: 1em 0 1.5em;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-cta-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em 2em;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-cta-wrapper
  .kh-card-cta {
  background: var(--white);
  color: var(--black);
  font-size: 1.125em;
  letter-spacing: 0.24px;
  line-height: 1.8em;
  font-weight: 700;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 5em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  opacity: 0.75;
}

.kh-sec4
  .kh-sec4-content
  .kh-house-cards-wrapper
  .kh-house-card
  .kh-cta-wrapper
  .kh-card-cta:hover {
  background: var(--F1B04C);
  color: var(--white);
}

/* PHASE 02 GALLERY */
/* PHASE 02 GALLERY */
/* PHASE 02 GALLERY */

.kh-phase-2-gallery {
  position: relative;
  height: 0;
  transition: all 0.15s ease-out;
  overflow: hidden;
  background: var(--F0F0F0);
}

.kh-phase-2-gallery .kh-close-icon {
  width: 100%;
  max-width: 2em;
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

.kh-phase-2-gallery .kh-container {
  max-width: 100%;
  padding: 0;
}

.kh-phase-2-gallery.active {
  height: auto;
  transition: all 0.25s ease-in;
}

.kh-phase-2-gallery .kh-gallery-content {
  padding: 5em 0;
}

.kh-phase-2-gallery .kh-text-container .kh-section-title {
  color: var(--F1B04C);
  text-align: center;
  margin: 0 0 1em;
}

.kh-phase-2-gallery .kh-gallery-content .kh-gallery-grid {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  column-gap: 0.5em;
}

.kh-phase-2-gallery .kh-gallery-content .kh-gallery-grid .kh-gallery-img {
  background: url(/loader-new.svg) no-repeat center;
  background-size: 10em;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* aspect-ratio: 16/9; */
  /* aspect-ratio: 4/3; */
  padding: 0 0 0.5em;
}

/* SECTION 05 */
/* SECTION 05 */
/* SECTION 05 */

.kh-sec5 .kh-sec5-content {
  padding: 5em 0;
}

.kh-sec5 .kh-sec5-content .kh-about-row {
  align-items: center;
}

.kh-sec5 .kh-img-wrapper .kh-host {
  width: 100%;
  max-width: 100%;
}

.kh-sec5 .kh-text-container .kh-about-description {
  padding: 1.5em 0 0;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.kh-footer {
  background: #000000;
  color: var(--white);
}

.kh-footer .kh-footer-content {
  padding: 5em 0 4em;
}

.kh-footer .kh-copyright-text {
  font-size: 1.2em;
  color: var(--white);
  display: block;
  text-align: center;
  padding: 1em 0;
}

.kh-footer .kh-copyright-text span {
  display: inline;
}

.kh-footer .kh-copyright-text .keeth-copy {
  color: var(--F1B04C);
}

.kh-footer .kh-footer-content .kh-footer-row {
  align-items: center;
}

.kh-footer .kh-footer-content .kh-contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 2.5em;
}

.kh-footer .kh-footer-content .kh-contact-box .kh-footer-title {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: 0;
  color: var(--F1B04C);
}

.kh-footer .kh-footer-content .kh-contact-box .kh-section-description {
  color: var(--white);
  text-decoration: none;
  margin: 1em 0 2em;
}

.kh-footer .kh-footer-content .kh-contact-box .kh-social-wrapper {
  display: flex;
  justify-content: center;
}

.kh-footer
  .kh-footer-content
  .kh-contact-box
  .kh-social-wrapper
  .kh-social-item {
  margin: 0 1.5em;
}

.kh-footer
  .kh-footer-content
  .kh-contact-box
  .kh-social-wrapper
  .kh-social-icon {
  width: 100%;
  max-width: 3.125em;
}

.kh-footer .kh-footer-content .kh-footer-logo {
  width: 100%;
  max-width: 17.5em;
  margin: 0 auto;
}

.kh-scroll-top {
  background: var(--white);
  border-radius: 50%;
  display: none;
  width: 100%;
  max-width: 3em;
  position: fixed;
  bottom: 2em;
  right: 2em;
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .kh-sec2 .kh-img-wrapper .kh-banner-img {
    max-width: 25em;
  }

  .kh-sec4 .kh-sec4-content .kh-house-cards-wrapper .kh-responsive-card {
    margin: 0 0 5em;
  }

  .kh-sec4
    .kh-sec4-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-description {
    font-size: 1.25em;
  }
}

@media (max-width: 992px) {
  /* SECTION 01 */
  /* SECTION 01 */
  /* SECTION 01 */
  .kh-sec1 .kh-header_wrapper .kh-navbar-list .kh-navbar-item {
    font-size: 1.4em;
    padding: 0 0.75em;
  }

  .kh-sec1 .kh-text-container .kh-banner-heading {
    font-size: 3.2em;
  }

  .kh-sec1 .kh-text-container .kh-banner-subtitle {
    font-size: 1.5em;
  }

  /* SECTION 02 */
  /* SECTION 02 */
  /* SECTION 02 */

  .kh-sec2 .kh-img-wrapper .kh-banner-img {
    max-width: 15em;
    opacity: 0.5;
  }

  .kh-sec2 .kh-sec2-content .about-img-wrapper {
    display: none;
  }

  .kh-sec2 .kh-sec2-content .description {
    max-width: 100%;
    font-size: 1.6em;
  }

  /* SECTION 03 */
  /* SECTION 03 */
  /* SECTION 03 */

  .kh-sec3 .kh-sec3-content {
    padding: 5em 0 0;
  }

  .kh-sec3 .kh-sec3-content .kh-text-container .kh-booking-link {
    margin: 0 auto 0;
    font-size: 2.4em;
  }

  .kh-sec3 .kh-sec3-content .kh-text-container .kh-section-description,
  .kh-sec4 .kh-sec4-content .kh-text-container .kh-section-description {
    max-width: 100%;
  }

  .kh-sec3 .kh-sec3-content .kh-house-cards-wrapper .kh-responsive-card {
    margin: 0 0 5em;
  }

  .kh-sec3 .kh-sec3-content .kh-house-cards-wrapper .kh-house-card {
    margin: 0;
  }

  .kh-sec3
    .kh-sec3-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-title,
  .kh-sec4
    .kh-sec4-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-title {
    font-size: 2.4em;
  }

  .kh-sec3
    .kh-sec3-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-description,
  .kh-sec4
    .kh-sec4-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-description {
    font-size: 1.4em;
  }

  /* PHASE 01 & 02 GALLERY */
  /* PHASE 01 & 02 GALLERY */
  /* PHASE 01 & 02 GALLERY */

  .kh-phase-1-gallery .kh-gallery-content,
  .kh-phase-2-gallery .kh-gallery-content {
    margin: 0 0.5em;
  }

  .kh-phase-1-gallery .kh-gallery-content .kh-gallery-grid,
  .kh-phase-2-gallery .kh-gallery-content .kh-gallery-grid {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
    column-gap: 1em;
  }

  .kh-phase-1-gallery .kh-gallery-content .kh-gallery-grid .kh-gallery-img,
  .kh-phase-2-gallery .kh-gallery-content .kh-gallery-grid .kh-gallery-img {
    padding: 0 0 0.5em;
  }

  /* SECTION 04 */
  /* SECTION 04 */
  /* SECTION 04 */

  .kh-sec4 .kh-sec4-content {
    padding: 0 0 2.5em;
  }

  .kh-sec4 .kh-sec4-content .kh-text-container .kh-booking-link {
    margin: 0 auto;
    font-size: 2.4em;
  }

  .kh-sec3
    .kh-sec3-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-house-info,
  .kh-sec4
    .kh-sec4-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-house-info {
    height: 13em;
  }

  /* FOOTER */
  /* FOOTER */
  /* FOOTER */

  .kh-footer .kh-footer-content .kh-footer-row {
    align-items: flex-start;
  }

  .kh-footer .kh-footer-content .kh-contact-box {
    padding: 0 0 5em;
  }

  .kh-scroll-top {
    max-width: 3em;
    right: 0.5em;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  /* SECTION 01 */
  /* SECTION 01 */
  /* SECTION 01 */
  .kh-sec1 .kh-img-wrapper {
    display: none;
  }

  /* SECTION 02 */
  /* SECTION 02 */
  /* SECTION 02 */

  .kh-sec2 .kh-sec2-content {
    padding: 4em 0 2em;
  }

  .kh-sec2 .kh-sec2-content .kh-section-description {
    max-width: 100%;
    margin: 0 0 2em;
  }

  /* SECTION 03 */
  /* SECTION 03 */
  /* SECTION 03 */

  .kh-sec3 .kh-sec3-content {
    padding: 4em 0 2em;
  }

  .kh-sec3 .kh-sec3-content .kh-text-container {
    padding: 0 0 4em;
  }

  .kh-sec3 .kh-sec3-content .kh-text-container .kh-booking-link,
  .kh-sec4 .kh-sec4-content .kh-text-container .kh-booking-link {
    font-size: 1.8em;
    margin: 1em auto 0;
    text-align: center;
  }

  .kh-sec3 .kh-sec3-content .kh-text-container .kh-section-description {
    margin: 1em auto 0;
  }

  .kh-sec3
    .kh-sec3-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-title {
    font-size: 2.4em;
  }

  .kh-sec3
    .kh-sec3-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-description {
    font-size: 1.4em;
    text-align: justify;
  }

  .kh-sec4
    .kh-sec4-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-card-text
    .kh-card-description {
    font-size: 1.4em;
    text-align: justify;
  }

  /* FOOTER */
  /* FOOTER */
  /* FOOTER */

  .kh-footer .kh-footer-content {
    padding: 5em 0 0;
  }

  .kh-footer .kh-footer-content .kh-contact-box {
    padding: 0 0 5em;
  }

  .kh-footer .kh-footer-content .kh-contact-box .kh-footer-title {
    font-size: 2em;
  }

  .kh-footer
    .kh-footer-content
    .kh-contact-box
    .kh-social-wrapper
    .kh-social-item {
    margin: 0 0.75em;
  }

  .kh-footer
    .kh-footer-content
    .kh-contact-box
    .kh-social-wrapper
    .kh-social-icon {
    max-width: 5em;
  }

  .kh-footer .kh-footer-content .kh-contact-box .kh-section-description {
    text-align: center;
    max-width: 95%;
    margin: 1em auto 2em;
  }

  .kh-footer .kh-footer-content .kh-footer-logo {
    display: block;
  }

  .kh-footer .kh-copyright-text {
    padding: 4em 0 1em;
  }
}

@media (max-width: 600px) {
  /* HEADER */
  /* HEADER */
  /* HEADER */

  .kh-header-container {
    padding: 0;
  }

  .kh-header_wrapper {
    max-width: 100%;
    position: relative;
    display: block;
    padding: 0;
  }

  .kh-header_wrapper .kh-logo-wrapper {
    margin: 2em 0;
  }

  .kh-header_wrapper .kh-logo {
    max-width: 20em;
  }

  .kh-header_wrapper nav {
    position: relative;
  }

  .kh-header_wrapper .kh-icon-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em 1.5em;
  }

  .kh-header_wrapper .kh-icon-title .kh-section-title {
    color: var(--black);
    font-weight: 500;
  }

  .kh-header_wrapper .kh-navbar-list {
    background: var(--F1B04C);
    position: absolute;
    top: 98%;
    left: -100vw;
    width: 100%;
    max-width: 100vw;
    padding: 2em 0 5em;
    visibility: hidden;
    z-index: 2;
    transition: 0.25s var(--cubic-in);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px 80px;
  }

  .kh-header_wrapper .kh-navbar-list.active {
    transform: translateX(100vw);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
  }

  .kh-header_wrapper .kh-navbar-list .kh-navbar-item {
    padding: 1em 1em 1em 2em;
    font-size: 2em;
  }

  .kh-nav-icon {
    width: 35px;
    height: 30px;
    margin: 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 4;
  }

  .kh-nav-icon span {
    background-color: var(--black);
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
  }

  .kh-nav-icon.open span {
    background: var(--black);
  }

  .kh-nav-icon span:nth-child(1) {
    top: 0px;
    left: 0px;
  }

  .kh-nav-icon span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }

  .kh-nav-icon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }

  .kh-nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  .kh-nav-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .kh-nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }

  /* SECTION 01 */
  /* SECTION 01 */
  /* SECTION 01 */

  .kh-sec1 {
    aspect-ratio: 3/4;
  }

  .kh-sec1 .kh-video-background {
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
  }

  .kh-sec1 .kh-img-wrapper {
    display: block;
  }

  .kh-sec1 .kh-img-wrapper .kh-banner-img {
    border-bottom-left-radius: 0%;
  }

  /* PHASE 01 & 02 GALLERY */
  /* PHASE 01 & 02 GALLERY */
  /* PHASE 01 & 02 GALLERY */

  .kh-phase-1-gallery .kh-gallery-content .kh-gallery-grid,
  .kh-phase-2-gallery .kh-gallery-content .kh-gallery-grid {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
    column-gap: 2em;
  }

  .kh-phase-1-gallery .kh-close-icon,
  .kh-phase-2-gallery .kh-close-icon {
    max-width: 1.5em;
    top: 1em;
    right: 1em;
  }
}

@media (max-width: 578px) {
  .kh-sec3
    .kh-sec3-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-cta-wrapper
    .kh-card-cta,
  .kh-sec4
    .kh-sec4-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-cta-wrapper
    .kh-card-cta {
    font-size: 1.4em;
  }
}

@media (max-width: 360px) {
  .kh-sec1 .kh-header_wrapper .kh-navbar-list .kh-navbar-item {
    font-size: 1.2em;
  }

  .kh-sec3
    .kh-sec3-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-cta-wrapper
    .kh-card-cta,
  .kh-sec4
    .kh-sec4-content
    .kh-house-cards-wrapper
    .kh-house-card
    .kh-cta-wrapper
    .kh-card-cta {
    font-size: 1.2em;
  }
}
